.service-container{
    background-color: white;
    padding: 28px 22px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 220px;
    gap: 30px;
}

.service-list{
    font-weight: 700;
    display:flex;
    align-items: start;
    gap: 6px;
    list-style: none;
    font-size: 24px;
    font-weight: bold;
    min-height:100px;

    
}

.service-list::before,
.support-list::before{
    margin-right:10px;
    content: ""; 
    display: inline-block;
    min-width: 22px;
    height: 22px;
    background-image: url("src/assets/bullet.png");
    background-size: contain;
    background-repeat: no-repeat;
}