.footer-links{
    display: flex;
    flex-direction: column;
    gap: 8px;

    li a {
    color: white;
    transition: color 0.4s ease;

        &:hover {
            color: #ffe770; 
            text-decoration: underline;
        }
    }
}

.footer-social a{
    transition: all 0.3s ease;

    &:hover{
        color: #fff1aa;
        scale: 105%;
    }
}

.footer_nav{
    color: white;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
}


@media(min-width: 375px){
    .footer_nav{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}