@import "tailwindcss";


* {
    font-family: 'crimson pro', sans-serif;
}

.practitioner-list::before,
.service-list::before,
.support-list::before{
    margin-right:5px;
    content: ""; 
    display: inline-block;
    min-width: 22px;
    height: 18px;
    background-image: url("src/assets/bullet.png");
    background-size: contain;
    background-repeat: no-repeat;
}